*{ margin: 0; padding: 0;}
body{ font-family: helvetica, arial; font-size: 16px; color: #333;}
header{ height: 90px; background-color: #262626; padding: 10px 0;}
footer {height: 50px; background-color: #44b874; padding: 10px 0; color: #f4f4f4; text-align: center; font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
}



.container {
    margin: 0 auto;
    width: 960px;
}

#conteudo{padding: 50px 0;}

#menu{
    float: right;
    padding: 35px 0;
}
#menu a{ font-size: 22px; text-decoration: none; padding: 40px 40px; color: #e3e3e3; text-shadow: 1px 1px 1px #111;}
#menu a:hover{ background-color: #44b874; }

table {
    border: 1px solid #ccc; 
    width: 100%;
}

td {
    width: 50%;
}